@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@400;600;700&display=swap');


body{
	font-family: 'Handlee', cursive;
	font-size: 1em;
	font-weight: 400;
	background: #403E3E;
}

h1{
	text-align: center;
    color: #60F480;
}

img{
	margin: auto;
	display: block;
	width: 100px;
}

.Botao{
	text-decoration: none;
	text-align: center;
	margin: auto;
	background-color: #60F480;
	padding: 5px 10px 5px 10px;
	color: #fff;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	margin-left: 48em;
	border: 0;
	cursor: pointer;
	margin-top: 4rem;
}

.formContato{
	width: 100% !important;
}


table {
    width: 10% !important; /*Importante manter o !important rs */
    margin: auto;
}

.Input1{
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #60F480;
	border-radius: 5px;
	
}

.Input2{
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #60F480;
	border-radius: 5px;
}


